.App{
  background-color: yellowgreen;
  position: relative;
  
}
.ball{
   background-color: green;
  position: relative;
  margin-top: 30vh;
  margin-left: 30vw;
  display: inline-block;
 
}
.top-Half{
  height:145px; width:290px;
  border-radius: 290px 290px 0 0;background: #C22A00,;
  border-bottom: 3px solid black;
  background: radial-gradient(circle at 100px 100px, #C22A00, #000)
}

.bottom-Half{
  height:145px; width:290px;
  
  border-radius: 0 0 290px 290px; background:white;
  border-top: 3px solid black;
  background: radial-gradient(circle at 100px 100px, white, #000)
}
.middle{
  height:45px; width:45px;
  border-radius: 45px; background:white;
  border: thick solid black;
  position:absolute;
  margin-top: -25px;
  margin-left:  15vw;
  text-align: center;
  
}
